.page-logo .logo-default {
    margin: 6.5px 0 0 !important;
    max-width: 175px;
    max-height: 67px;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    height: 600px !important;
    min-width: 1540px;
    /*width: 1280px;*/
}
#carousel-example-generic {
    margin-right: -15px;
    margin-left: -15px;
}
#carousel-example-generic img {
    width: 100%;
}
.animated {
    -webkit-animation-duration: 3s !important;
    -moz-animation-duration: 3s !important;
    animation-duration: 3s !important;
}
.about-text {
    text-align: justify;
}
.about-text > h4 {
    background-color: #2ab4c0;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    padding: 1em 20px;
    margin: 0;
}
.list-item-content {
    text-align: justify;
}

.active > a{
    color: #32c5d2 !important;
}
.bg-client-red {
    background: #ff0000;
}
.bg-client-blue {
    background: #8DB3E2
}
.bg-client-yellow {
    background: #FFFF00
}
.bg-client-green {
    background: #00B050
}
.client {
    margin-left: 10%;
}

.tiles .tile {
    border-color: black !important;
    border-width: thin !important;
}

.tiles .tile .tile-body img {
    width: 200px;
    margin-left: 7%;
}

.text-logo {
    font-size: 20px;
    margin-top: -12%;
    margin-left: 70%;
    position: relative;
    color: #543f26; /*#32c5d2;*/
    font-family: initial;
    font-style: oblique;
    font-weight: 700;
}
.text-credit {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.428571429;
    color: #a2abb7 !important;
    font-style: oblique;
}
a.text-credit:link {
    text-decoration: none !important;
}
.page-content-inner{
    padding: 2% !important;
}