@model Application.ViewModels.UserViewModel

@{
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}
<div>

    <div class="modal-header">
        <h4 class="modal-title">Desativar Usuário</h4>
    </div>

    <div class="modal-body">
        <p id="dialog-text-del">Tem certeza que deseja desativar o usuário @Model.Name com o e-mail @Model.Email ?</p>
    </div>

    @using (Html.BeginForm("Delete", "User", FormMethod.Post, new { @class = "horizontal-form" }))
    {
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn red">Desativar</button>
        </div>
    }
</div>