<section id="about">
      <div class="container">
            <div class="page-content-inner">
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-home font-green-sharp"></i>
							<span class="caption-subject font-green bold uppercase"> Quem Somos</span>
                        </div>
                    </div>
                    <div class="portlet-body list-item-content">
                        <p class="margin-top-20">
                            A <b>Earth Consultoria</b> é uma empresa especializada na prestação de serviços destinados à implantação de obras de infraestrutura de geração e transmissão de energia elétrica, estradas, ferrovias, dutos, barragens, áreas de inundação, dentre outros, atuando em todo o território nacional.
                        </p>
                        <p class="margin-top-20">
                            Com um corpo técnico multidisciplinar formado por engenheiros civis, agrônomos, agrimensores, topógrafos, técnicos agrícolas e em edificações, administradores e advogados, se diferencia pelo constante investimento em qualidade técnica, pelo respeito ao meio ambiente, pelo desenvolvimento do trabalho em conformidade com o bem-estar social, pela mais estrita observância à legislação brasileira e pela consideração e zelo aos clientes, colaboradores e fornecedores.
                        </p>
                        <p class="margin-top-20">
                            A Coordenação Técnica fica a cargo de seu Sócio Diretor José Mauricio Sampaio Bonatte, advogado inscrito na Ordem dos Advogados da Bahia sob n° 30478, Especialista em Direito Ambiental e Gestão Estratégica da Sustentabilidade pela Pontifícia Universidade Católica de São Paulo – PUC/SP e em Direito Imobiliário pela Universidade Salvador – UNIFACS.
                        </p>
                        <p class="margin-top-20">
                            Atuou durante 36 anos na Companhia de Eletricidade do Estado da Bahia – COELBA na liberação, avaliação e negociação de faixas de servidão e aquisição de terrenos para implantação de empreendimentos de geração e transmissão de energia elétrica, bem como na sua Gestão Ambiental, contribuindo para a obtenção das Licenças e Autorizações Ambientais.
                        </p>
                        <p class="margin-top-20">
                            Dentre estes empreendimentos, destacam-se as Linhas de transmissão de energia nas tensões de 69kV, 138kV, 230 kV e 500 kV nos Estados da Bahia e Rio Grande do Norte, Parque Eólico Caetité I, II e III (BA), Usina Hidrelétrica de Itapebi (BA), Usina Hidrelétrica de Goiandira (GO), Usina Hidrelétrica de Nova Aurora (GO), Usina Hidrelétrica de Baguari (MG), Usina Hidrelétrica de Sítio Grande (BA).
                        </p>
                        <p class="margin-top-20">
                            Participou do Grupo de Meio Ambiente da Associação Brasileira de Concessionárias de Energia Elétrica– ABCE, das Reuniões Técnicas visando a elaboração da Lei Ambiental do Estado da Bahia (Lei n° 10.431/06) e seu respectivo Decreto n° 11.235/08, contribuiu para a elaboração de Normas Técnicas de licenciamento ambiental de empreendimentos de geração e transmissão de energia elétrica no Estado da Bahia, além de atuar como Membro Titular dos Conselhos Gestores de diversas Áreas de Proteção Ambiental no Estado da Bahia.
                        </p>
                    </div>
		</div>
	</div>
	</div>
</div>