<section id="about">
      <div class="container">
            <div class="page-content-inner">
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-home font-green-sharp"></i>
							<span class="caption-subject font-green bold uppercase">Quem Somos</span>
                        </div>
                    </div>
					<div class="portlet-body list-item-content">
					<p class="margin-top-20"> 
			A <b>EARTH Consultoria</b> presta serviços nas áreas de engenharia de avaliações, topografia, cadastros, negociações e regularizações de imóveis urbanos e rurais em todo o território nacional.
					</p>
<p class="margin-top-20"> 
			A <b>EARTH Consultoria</b>  é constituída por gente capaz e comprometida, que acredita na comunicação e no relacionamento como forma de encontrar soluções para a melhoria do seu negócio, zelando pelo relacionamento com seus clientes e comprometida com a prestação de um serviço indispensável ao bem-estar social das comunidades envolvidas nos empreendimentos.
</p>
<p class="margin-top-20"> Possuímos um corpo técnico multidisciplinar, formado por engenheiros civis, engenheiros agrônomos, engenheiros agrimensores, topógrafos, técnicos agrícolas, técnicos em edificações, administradores e advogados, que se diferencia pelo constante investimento em qualidade técnica, o respeito ao meio ambiente, o desenvolvimento do trabalho em conformidade com o bem-estar social, a observância à legislação brasileira, a consideração e zelo aos clientes, colaboradores e fornecedores.
</p>
 <p class="margin-top-20"> 
			A <b>EARTH Consultoria</b>  disponibiliza, para a execução dos serviços propostos, equipe técnica especializada composta de Engenheiros Agrimensores e Agrônomos, Advogado, Técnicos de Agrimensura e Agrônomos.
</p>
<div class="note note-success">
   <p class=""><h3> Principais Empreendimentos:</h3></p>
                    <ul class="list-unstyled margin-top-10 margin-bottom-10">
                        <li>
                            <i class="fa fa-check"></i> Linhas de transmissão de energia nas tensões de 69kV, 138kV, 230 kV e 500 kV nos Estados da Bahia e Rio Grande do Norte.</li>
                        <li>
                            <i class="fa fa-check"></i> Parque Eólico Caetité I, II e III (BA)</li>
                        <li>
                            <i class="fa fa-check"></i> Usina Hidrelétrica de Itapebi (BA)</li>
                        <li>
                            <i class="fa fa-check"></i> Usina Hidrelétrica de Goiandira (GO) </li>
                        <li>
                            <i class="fa fa-check"></i> Usina Hidrelétrica de Nova Aurora (GO)</li>
						<li>
                            <i class="fa fa-check"></i> Usina Hidrelétrica de Baguari (MG)  </li>
                        <li>
                            <i class="fa fa-check"></i> Usina Hidrelétrica de Sítio Grande (BA)</li>
                    </ul>
      
		</div>
		</div>
		</div>
	</div>
	</div>
</div>