<section id="Client">
      <div class="container">
            <div class="page-content-inner">
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-users font-green-sharp"></i>
							<span class="caption-subject font-green bold uppercase">Nossos Clientes</span>
                        </div>
                    </div>
                    <div class="portlet-body" style="margin-top: 5%">
                        <div class="client tiles">
                            <div class="tile simple bg-client-red">
                                <div class="tile-body">
                                </div>
                            </div>
                            <div class="tile double">
                                <div class="tile-body" style=" padding: 15% !important;">
                                    <img src="../Metronic/assets/layouts/layout3/img/bioconsultoria2.png" alt="">
                                </div>
                            </div>
                            <div class="tile bg-client-blue">
                                <div class="tile-body">
                                </div>
                            </div>
                            <div class="tile simple double ">
                                <div class="tile-body">
                                    <img src="../Metronic/assets/layouts/layout3/img/edna-energia2.png" alt="" style=" padding-left: 13% !important;">
                                </div>
                            </div>
                            <div class="tile double">
                                <div class="tile-body" style=" padding: 7% !important;">
                                    <img src="../Metronic/assets/layouts/layout3/img/origis-energia2.jpg" alt="">
                                </div>
                            </div>
                            <div class="tile simple bg-client-green">
                                <div class="tile-body">
                                </div>
                            </div>
                            <div class="tile double">
                                <div class="tile-body" style=" padding: 9% !important;">
                                    <img src="../Metronic/assets/layouts/layout3/img/atlas-energia2.jpg" alt="">
                                </div>
                            </div>
                            <div class="tile simple bg-client-yellow">
                                <div class="tile-body">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

    </div>
</div>