<section id="Client">
      <div class="container">
            <div class="page-content-inner">
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-users font-green-sharp"></i>
							<span class="caption-subject font-green bold uppercase">Nossos Clientes</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="tiles">
                            <div class="tile bg-red-sunglo">
                                <div class="tile-body">
                                </div>
                                <div class="tile-object">                       
                                </div>
                            </div>
                            <div class="tile double selected bg-green-turquoise">
                                <div class="corner"> </div>
                                <div class="check"> </div>
                                <div class="tile-body">
                                    <h4>support@metronic.com</h4>
                                    <p> Re: Metronic v1.2 - Project Update! </p>
                                    <p> 24 March 2013 12.30PM confirmed for the project plan update meeting... </p>
                                </div>
                                <div class="tile-object">
                                    <div class="name">
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                    <div class="number"> 14 </div>
                                </div>
                            </div>
                            <div class="tile selected bg-yellow-saffron">
                                <div class="tile-body">
                                </div>
                                <div class="tile-object">
                                </div>
                            </div>
                            <div class="tile double bg-blue-madison">
                                <div class="tile-body">
                                    <img src="../Metronic/assets/pages/media/profile/photo1.jpg" alt="">
                                    <h4>Announcements</h4>
                                    <p> Easily style icon color, size, shadow, and anything that's possible with CSS. </p>
                                </div>
                                <div class="tile-object">
                                    <div class="name"> Bob Nilson </div>
                                    <div class="number"> 24 Jan 2013 </div>
                                </div>
                            </div>
                            <div class="tile double bg-grey-cascade">
                                <div class="tile-body">
                                    <img src="../Metronic/assets/layouts/layout3/img/atlas-energia.png" alt="" class="pull-right">
                                    <h3>Atlas Energia</h3>
                                    <p> Especialistas dem Empresas </p>
                                </div>
                                <div class="tile-object">
                                    <div class="name">
                                        <i class="fa fa-twitter"></i>
                                    </div>
                                    <div class="number"> 10:45PM, 23 Jan </div>
                                </div>
                            </div>
							<div class="tile bg-red-sunglo">
                                <div class="tile-body">
                                </div>
                                <div class="tile-object">
                                </div>
                            </div>
                            <div class="tile image double selected">
                                <div class="tile-body">
                                   <img src="../Metronic/assets/layouts/layout3/img/bioconsultoria.png" alt="">  </div>
                                <div class="tile-object">
                                    <div class="name"> Gallery </div>
                                    <div class="number"> 124 </div>
                                </div>
                            </div>
							<div class="tile bg-green">
                                <div class="tile-body">
                                </div>
                                <div class="tile-object">
                                    <div class="name"> </div>
                                    <div class="number"> </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

    </div>
</div>