<section id="more">
    <div class="container">
        <div class="page-content-inner">
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-home font-green-sharp"></i>
                        <span class="caption-subject font-green bold uppercase">Saiba mais</span>
                    </div>
                </div>
                <div class="portlet-body list-item-content">
                    <p class="margin-top-20">
                        <b>OBJETIVO</b>
                    </p>
                    Consultoria e prestação de serviços nas áreas de Levantamentos Topográficos, Regularização Fundiária, Constituição de Faixas de Servidão, Desapropriações Administrativas
                    e Judiciais, Estudos de Viabilidade Técnica-Ambiental, Bloqueio Minerário, Estudos Ambientais e demais componentes necessários à implantação de obras de infraestrutura
                    de geração e transmissão de energia elétrica, estradas, ferrovias, dutos, barragens, áreas de inundação, dentre outros.
                    <p class="margin-top-20">
                        <b>MISSÃO</b>
                    </p>
                    <p>
                        A missão da <b>Earth Consultoria</b> é prestar serviços as empresas, trabalhando com o mais alto grau de profissionalismo, dedicação e transparência,
                        atuando de maneira diversificada na busca de soluções aos problemas inerentes à implantação de obras de infraestrutura, de forma a atender as necessidades específicas
                        de cada um dos seus clientes.
                    </p>
                    <p>
                        O resultado é o aumento da produtividade, ganho de tempo, redução de custos e, consequentemente, aumento da satisfação do cliente. Para a prestação desses serviços,
                        a <b>Earth Consultoria</b> possui a experiência necessária, somada a uma equipe de profissionais especializados e qualificados.
                    </p>
                    <p class="margin-top-20">
                        <b>COMPROMISSOS</b>
                    </p>
                    <p>
                        A <b>Earth Consultoria</b> estabelece um controle de qualidade que atende aos prazos determinados em Contrato e, em casos excepcionais, decorrentes de impedimentos
                        verificados quando da execução dos serviços estabelecidos pela Contratante.
                    </p>
                    <p>
                        A <b>Earth Consultoria</b> se obriga, por si e por seus prepostos, a manter a confidencialidade e sigilo relativos a qualquer informação sobre os empreendimentos,
                        avaliações efetuadas, condução das negociações e acordos firmados, dados que se constituem como elementos confidenciais e reservados.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>