
<section id="services">
      <div class="container">

	<div class="row">
        <div class="portlet light portlet-fit" >
			 <div class="portlet-title">
				<div class="caption">
					<i class=" icon-layers font-green"></i>
					<span class="caption-subject font-green bold uppercase">Nossos Serviços</span>
				</div>
			 </div> 


<!-- 		<div class="portlet-body">
			<div class="mt-element-list">
				<div class="mt-list-container list-simple ext-1 group">
					<a class="list-toggle-container" data-toggle="collapse" href="#completed-simple" aria-expanded="false">
						<div class="list-toggle done uppercase col-lg-6 "> <i class="fa fa-navicon"> </i> Topografia						
						</div>
						<div class="list-toggle done uppercase col-lg-6"> Cadastro Físico
						<span class="badge badge-default pull-right bg-white font-green bold">Detalhes</span>
						</div>
					</a>
				<div class="panel-collapse collapse in" id="completed-simple">
					<ul>
						<li class="mt-list-item done col-lg-6">
							<div class="list-icon-container">
								<i class="icon-check"></i>
							</div>
							<div class="list-item-content">
								<p class="margin-top-20"> 
								Realizamos levantamentos planimétricos, planialtimétricos e georreferenciados para implantação de empreendimentos de geração 
								e transmissão de energia elétrica, estradas, ferrovias, dutos, áreas de inundação, identificação de imóveis e confrontações.
								</p>
								 <p class="margin-top-20"> 
								Dispomos de equipamentos de última geração incluindo o Veículo Aéreo Não Tripulado – VANT, que permite a varredura 
								de áreas utilizando a tecnologia laser e cobertura fotogramétrica, ferramenta indispensável para a análise de 
								alternativas locacionais dos empreendimentos.
								</p>
							</div>
						</li>
						<li class="mt-list-item done col-lg-6">
							<div class="list-icon-container">
								<i class="icon-check"></i>
							</div>
							<div class="list-item-content">
								<p class="margin-top-20"> 
								Realização de pesquisa em campo para levantamento de áreas, aptidão agrícola dos solos e manejo tecnológico empregado, 
								cadastro de benfeitorias reprodutivas e não-reprodutivas, maciços florestais, juntamente com levantamento de documentos,
								qualificação das propriedades e de seus proprietários e/ou ocupantes.
								</p>
								 <p class="margin-top-20"> 
								A <b>EARTH Consultoria</b> elabora um relatório que constará de informações pertinentes às áreas de influência direta e indireta 
								de empreendimentos, confrontando-as com a comprovação de domínio fundiário de cada propriedade e as obtidas junto aos cartórios 
								de registro de imóveis, predominância de culturas existente, estruturas das propriedades atingidas, acessos, dentre outras informações 
								necessárias ao perfeito diagnóstico e programação dos serviços de implantação de obras de infraestrutura.
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
    </div> -->

</div>
</div>


<div class="row">
<div class="col-lg-6">
        <div class="portlet light about-text" >
            <h4> <i class="fa fa-check icon-info"></i> Topografia </h4>
            <p class="margin-top-20"> 
			Realizamos levantamentos planimétricos, planialtimétricos e georreferenciados para implantação de empreendimentos de geração 
			e transmissão de energia elétrica, estradas, ferrovias, dutos, áreas de inundação, identificação de imóveis e confrontações.
			</p>
			 <p class="margin-top-20"> 
			Dispomos de equipamentos de última geração incluindo o Veículo Aéreo Não Tripulado – VANT, que permite a varredura 
			de áreas utilizando a tecnologia laser e cobertura fotogramétrica, ferramenta indispensável para a análise de 
			alternativas locacionais dos empreendimentos.
			</p>
		</div>
</div>

<div class="col-lg-6">
        <div class="portlet light about-text" >
            <h4> <i class="fa fa-check icon-info"></i> Cadastro Físico </h4>
            <p class="margin-top-20"> 
			Realização de pesquisa em campo para levantamento de áreas, aptidão agrícola dos solos e manejo tecnológico empregado, 
			cadastro de benfeitorias reprodutivas e não-reprodutivas, maciços florestais, juntamente com levantamento de documentos,
			qualificação das propriedades e de seus proprietários e/ou ocupantes.
			</p>
			 <p class="margin-top-20"> 
			A <b>EARTH Consultoria</b> elabora um relatório que constará de informações pertinentes às áreas de influência direta e indireta 
			de empreendimentos, confrontando-as com a comprovação de domínio fundiário de cada propriedade e as obtidas junto aos cartórios 
			de registro de imóveis, predominância de culturas existente, estruturas das propriedades atingidas, acessos, dentre outras informações 
			necessárias ao perfeito diagnóstico e programação dos serviços de implantação de obras de infraestrutura.
			</p>
    </div>
</div>
</div>

<div class="row">
<div class="col-lg-6">
        <div class="portlet light about-text" >
            <h4> <i class="fa fa-check icon-info"></i> Cadastro Socioeconômico </h4>
            <p class="margin-top-20"> 
			O Cadastro Socioeconômico registra e identifica a população que será afetada direta e indiretamente com a implantação dos empreendimentos, 
			mediante levantamento de dados junto a órgãos oficiais e complementados por pesquisas de campo, fornecendo informações necessárias para 
			análise e pareceres de órgãos licenciadores.
			</p>
			 <p class="margin-top-20"> 
			Identifica também a existência de passivos socioeconômicos na região e que possam redundar em embargos, especulações pecuniárias e outras 
			dificuldades para implantação de novos empreendimentos.
			</p>
    </div>
</div>

<div class="col-lg-6">
        <div class="portlet light about-text" >
            <h4> <i class="fa fa-check icon-info"></i> Laudos de Avaliação </h4>
            <p class="margin-top-20"> 
			Elaboramos Laudos de Avaliação visando composição de valores que servirão de base para indenização dos atingidos direta e indiretamente 
			pela implantação das obras de infraestrutura, com a utilização de técnicas de engenharia de avaliações, destinando-se a constituição 
			de faixas de servidão e de domínio, danos a benfeitorias reprodutivas, construções e abertura de acessos.
			</p>
			 <p class="margin-top-20"> 
			Observamos rigorosamente os pressupostos recomendados pela NBR 14653 da ABNT, constituída pelas seguintes partes, sob o titulo 
			geral “Avaliação de Bens”:    
			</p>
			<div class="row">
                <div class="col-xs-6">
                    <ul class="list-unstyled margin-top-10 margin-bottom-10 about-text">
                        <li>
                            <i class="fa fa-check"></i> Parte 1: Procedimentos gerais; </li>
                        <li>
                            <i class="fa fa-check"></i> Parte 2: Imóveis urbanos;</li>
                        <li>
                            <i class="fa fa-check"></i> Parte 3: Imóveis rurais; </li>
                        <li>
                            <i class="fa fa-check"></i> Parte 4: Empreendimentos; </li>
                        <li>
                            <i class="fa fa-check"></i> Parte 5: Máquinas, equipamentos, instalações e bens industriais em geral; </li>
						<li>
                            <i class="fa fa-check"></i> Parte 6: Recursos naturais e ambientais;  </li>
                        <li>
                            <i class="fa fa-check"></i> 7: Patrimônios históricos. </li>
                    </ul>
                </div>
			</div>
    </div>
</div>
</div>

<div class="row">
<div class="col-lg-6">
        <div class="portlet light about-text" >
            <h4> <i class="fa fa-check icon-info"></i> Assistência Técnica em Processo Judicial </h4>
            <p class="margin-top-20"> 
			A <b>EARTH Consultoria</b> fornece toda a documentação necessária à composição de processos judiciais destinados a imediata 
			liberação das áreas para construção, obtida por meio de Imissão na Posse, além da assessoria técnica de engenharia 
			para elaboração de pareceres técnicos sobre Laudos Periciais.
			</p>
    </div>
	</div>
	<div class="col-lg-6">
		<div class="portlet light about-text" >
			<h4> <i class="fa fa-check icon-info"></i> Negociação e Quitação </h4>
			<p class="margin-top-20"> 
			A negociação junto a cada proprietário atingido é uma das maiores responsabilidades do processo de implantação de empreendimentos. 
			A <b>EARTH Consultoria</b> planeja e define a estratégia de cada negociação juntamente com os empreendedores, primada pelos princípios 
			básicos de ética e honestidade que, somados à flexibilidade e confiança, compõem os pilares de uma negociação de sucesso.
			</p>
		</div>
	</div>
</div>

<div class="row">
<div class="col-lg-6">
        <div class="portlet light about-text" >
            <h4> <i class="fa fa-check icon-info"></i> Regularização Imobiliária </h4>
            <p class="margin-top-20"> 
			A <b>EARTH Consultoria</b> se responsabiliza por toda a documentação necessária à Regularização Fundiária, consistindo na elaboração dos 
			documentos pertinentes à efetivação das negociações e o acompanhamento das respectivas lavraturas perante os Tabelionatos de Notas, com posterior 
			encaminhamento aos Cartórios de Registro de Imóveis competentes. Toda a documentação é analisada e chancelada por Advogados com vasta experiência nestas transações.
			</p>
    </div>
	</div>
	<div class="col-lg-6">
		<div class="portlet light about-text" >
			<h4> <i class="fa fa-check icon-info"></i> Elaboração e Montagem de Processo de DUP </h4>
			<p class="margin-top-20"> 
			A <b>EARTH Consultoria</b> presta serviço de assessoria técnica-jurídica necessária à montagem e acompanhamento de processo administrativo de obtenção 
			da Declaração de Utilidade Pública – DUP, perante a Agência Nacional de Energia Elétrica – ANEEL, atendendo aos requisitos da Resolução Normativa n° 740/2016.
			</p>
			<p>Responsabiliza-se pela organização e conciliação das informações de forma a permitir o processo completo, inclusive com o protocolo e acompanhamento às 
			eventuais exigências complementares, se necessárias, pelo órgão concedente</p>
		</div>
	</div>
</div>

<div class="row">
<div class="col-lg-6">
        <div class="portlet light about-text" >
            <h4> <i class="fa fa-check icon-info"></i> Certidão de Uso e Ocupação do Solo </h4>
            <p class="margin-top-20"> 
			A <b>EARTH Consultoria</b> se responsabiliza pela obtenção da Certidão de Uso do Solo perante os municípios atingidos pelo empreendimento.
			</p>
			<p>Trata-se de um documento com informações sobre as atividades permissíveis ou toleradas e parcelamento do solo no município. O documento 
			contém basicamente o Zoneamento Municipal, o Zoneamento de Áreas de Proteção Ambiental - APA, a Classificação Viária e se o empreendimento 
			está localizado em Áreas de Mananciais.</p>
    </div>
	</div>
	<div class="col-lg-6">
		<div class="portlet light about-text" >
			<h4> <i class="fa fa-check icon-info"></i>Bloqueio Minerário </h4>
			<p class="margin-top-20"> 
			Elaboração de Requerimento de Bloqueio de Área junto ao Departamento Nacional de Pesquisa Mineral – DNPM, em conformidade com o disposto no Parecer/PROGE 
			n° 500/2008-FMM-LBTL-MP-SDM-JA e fulcro no Art. 42 do Código de Mineração, em virtude dos conflitos entre as atividades de exploração de recursos minerais e 
			as de geração e transmissão de energia elétrica, demonstrando e atendendo os requisitos cumulativos e sucessivos de incompatibilidade entre as atividades e 
			a superação da utilidade do aproveitamento mineral na área pelo interesse envolvido no projeto energético.
			</p>
		</div>
	</div>
</div>

<div class="row">
<div class="col-lg-6">
        <div class="portlet light about-text" >
            <h4> <i class="fa fa-check icon-info"></i> Outros Serviços </h4>
            <p class="margin-top-20"> 
			<b>Acompanhamento da Obra - Diligenciamento:</b>
			</p>
			<p>Para os serviços de acompanhamento de obra, a EARTH Consultoria disponibiliza pessoal necessário para a execução das atividades inerentes a construção do 
			empreendimento, durante o período que durar tais serviços.</p>
			<p class="margin-top-20"> 
			<b>Levantamento e Acompanhamento de danos decorrentes da construção:</b>
			</p>
			<p>Levantamento e avaliação de danos a culturas, solo, estradas, cercas e recursos naturais causados na propriedade em decorrência da implantação de obra, com a 
			devida responsabilidade técnica e observadas as normas e critérios da engenharia de avaliação, objetivando a indenização dos danos causados. </p>
			<p class="margin-top-20"> 
			<b>Conclusão dos Processos:</b>
			</p>
			<p>Após a conclusão das obras, a equipe da EARTH Consultoria, acompanhada dos respectivos proprietários, realiza o levantamento final de todos os danos causados
			em cada propriedade. No próprio levantamento constará um relato acerca da concordância do proprietário com os danos levantados e indenizados, seguido de 
			assinatura de um documento denominado "NADA CONSTA". </p>
    </div>
	</div>
</div>

	</div>
</div>